.red{
    color: #DA5252;
}
.red h1{
    color:#51B251;
}
.red p {
font-family: cursive;
}

#second{
    color:#0000FF;
    text-justify:distribute-all-lines;
   
}
#second h6{
    text-orientation: sideways-right;
    position: absolute ;
}
#second a{
    font-size: 2em;
}